<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="well well-sm">
            <div class="media">
                <a class="thumbnail pull-left" href="#" style="margin-right: 10px">
                    <img class="media-object" src="http://placehold.it/82" width="80" height="80"></a>
                <div class="media-body">
                    <h4 class="media-heading">Sean O</h4>
                    <p>
                        <span class="label label-info">842 followers</span>
                        <!-- <span class="label label-primary">89 followers</span> -->
                    </p>
                    <p>
                        <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                        <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.39667185944!2d-75.28886018455987!3d40.24471487938551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6a3ce478911cd%3A0x635e7085759f818d!2sW+2nd+St+%26+S+Wood+St%2C+Lansdale%2C+PA+19446!5e0!3m2!1sen!2sus!4v1462147623078" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            &copy; Sean O 2016 
        </div>
    </div>
</div>