<div id="footer">
	<div class="col-xs-12 navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div class="row" id="bottomNav" style="padding-top: 0.3em">
			<div id="footer-beerlist" class="col-xs-4 text-center" v-link="{ path: '/beerlist'}">
				<a>
					<i class="glyphicon glyphicon-th-list"></i><br>Beer List
				</a>
			</div>
			<div id="footer-mybeers" class="col-xs-4 text-center" v-link="{ path: '/mybeers'}">
				<a>
					<i class="glyphicon glyphicon-pushpin"></i><br>My Beers
				</a>
			</div>
			<!-- <div id="footer" class="col-xs-4 text-center" v-link="{ path: '/search'}">
				<a>
					<i class="glyphicon glyphicon-search"></i><br>Search
				</a>
			</div> -->
			<div id="footer" class="col-xs-4 text-center" v-link="{ path: '/about'}">
				<a>
					<i class="glyphicon glyphicon-info-sign"></i><br>About
				</a>
			</div>
		</div>
	</div>
</div>